/*
"Granite" - a light blue color scheme for the One Mozilla theme
*/

#page { background-color: #eee; background-image: url("bg-body-granite.png"); }
#site-description { color: #707477; }

::-moz-selection { background: #f60; color: #fff; }
::selection { background: #f60; color: #fff; }
img::-moz-selection	{ background: transparent; }
img::selection { background: transparent; }
body { -webkit-tap-highlight-color: #f60; }
