/*
"Stone" - the default neutral gray color scheme for the One Mozilla theme

@@Colors -
Light Gray    #f9f9f9
Link          #2983c8
Hover         #20679e
*/

html {
  background: #fff;
}

#page {
  background-color: #fff;
}

/* @Links */
a:link,
a:visited {
  color: #00a7e0;
}
a:hover,
a:focus,
a:active {
  color: #0081ad;
}

::-moz-selection {
  background: #666;
  color: #fff;
}
::selection {
  background: #666;
  color: #fff;
}

.entry-comments a {
  background-image: url("icn-comment.png");
}
