#masthead {
    background-color: #000;
}

#site-title span,
#site-description span {
    background: #fff;
    color: #000;
}

#site-title span a,
#site-title span a:hover
#site-title span a:focus {
    color: #000;
}
