/*
Theme Name:     One Mozilla - Nightly
Description:    Site theme for the Firefox Nightly blog. This theme is a child of the One Mozilla WordPress theme.
Author:         Kohei Yoshino
Template:       OneMozilla
Version:        1.0
*/

@import url('../OneMozilla/style.css');

body.nightly {
  color: #D6D6D6;
  background: #000;
}

body.nightly h1,
body.nightly h2,
body.nightly h3,
body.nightly h4,
body.nightly h5,
body.nightly h6 {
  color: #FFF;
  text-shadow: 0 2px 0 rgba(0, 0, 0, .5);
}

body.nightly a:link,
body.nightly a:visited,
body.nightly a:hover,
body.nightly a:focus,
body.nightly a:active {
  color: #79D8FF;
}

body.nightly input[type="email"],
body.nightly input[type="url"],
body.nightly input[type="search"],
body.nightly input[type="password"],
body.nightly input[type="text"],
body.nightly textarea {
  border-color: rgba(255, 255, 255, .5);
}

body.nightly #page {
  background: #000 url(img/background.png) no-repeat top center;
  background: url(img/background.png) no-repeat top center,
              linear-gradient(to bottom, transparent, #000 580px),
              #0B3D61;
}

body.nightly #site-title a {
  color: inherit;
}

body.nightly #site-description {
  color: #BBB;
}

body.nightly #nav-primary,
body.nightly .featured-posts {
  background: #17324f;
  background: rgba(23,50,79,.5);
}

body.nightly .entry-posted,
body.nightly .entry-posted a:link,
body.nightly .entry-posted a:visited,
body.nightly .entry-posted a:hover,
body.nightly .entry-posted a:focus,
body.nightly .entry-posted a:active {
  color: #333;
}

body.nightly .edit a {
  color: #666;
}

body.nightly .post .entry-comments a {
  background-image: url('img/icn-comment.png');
}

body.nightly .entry-meta {
  border-bottom-color: rgba(255, 255, 255, .15);
}

body.nightly #site-info {
  border: 0;
  background: #000;
  background: linear-gradient(to bottom, #000, #0D2846);
}

@media only screen and (max-width: 767px) {
  body.nightly .entry-posted,
  body.nightly .entry-posted a {
    color: inherit !important;
  }
}

/* @Comments *********/
body.nightly #comment-list .comment,
body.nightly #comment-list .pingback,
body.nightly #comment-list .trackback {
  background: #17324f;
  background: rgba(23,50,79,.5);
  border-color: #17324f;
  border-radius: 8px;
}

body.nightly #comment-list .alt {
  background: transparent;
}

body.nightly #comment-list .byuser {
  border-color: #3068a5;
}

body.nightly #comment-list .avatar {
  border-color: #5d83a0;
}

body.nightly #comment-submit button {
  font-size: 1em;
}

body.nightly #comment-form #errors {
  background: #39303f;
  border: 1px solid #473851;
  border-radius: 6px;
}

body.nightly #comment-form .err {
  background: #39303f;
}

/* @Comments *********/
body.nightly #social {
  background: transparent;
}

body.nightly #social * {
  font-family: inherit;
}

body.nightly #social #reply-title {
  color: #999;
  letter-spacing: 0;
}

body.nightly #social #reply-title,
body.nightly #social .social-nav .social-current-tab,
body.nightly #social .social-divider,
body.nightly #social .social-nav {
  background: none;
}

body.nightly #social .social-divider {
  margin: 16px 0;
}

body.nightly #social .social-divider::after {
  display: block;
  overflow: hidden;
  margin-top: -.8em;
  width: 100%;
  height: 1px;
  background: #666;
  content: ""
}

body.nightly #social .social-divider span {
  color: #999;
  background: #000;
}

body.nightly #social .social-tab-main,
body.nightly #social .social-heading .social-title,
body.nightly #social .social-input-row .social-label {
  color: #999;
}

body.nightly #social #respond .social-input {
  border-color: #0B2746;
  width: 400px;
  color: #FFF;
  background: #0A203A;
  font-family: inherit;
}

body.nightly #social #respond textarea.social-input {
  resize: vertical;
}

body.nightly #social #respond .social-input:focus {
  border-color: #06395E;
  background: #052B47;
}

body.nightly #social .social-nav li a {
  background: #000;
}

body.nightly #social #reply-title span,
body.nightly #social .social-nav .social-current-tab a {
  color: #999;
}

body.nightly #social .social-comment {
  margin: 12px 0;
  border: 1px solid #0B2746;
  border-radius: 0;
  background: #061628;
}

body.nightly #social .social-comment-inner,
body.nightly #social .social-children .social-comment {
  margin: 12px;
}

body.nightly #social .social-children .social-comment {
  background: #0A203A;
}

body.nightly #social input#submit {
  border-radius: .25em;
  border: 0;
  padding: 8px 24px;
  height: auto;
  font-family: inherit;
  font-size: .857em;
  font-weight: normal;
  color: #FFF;
  background-color: #266194;
  background-image: linear-gradient(#3c88cc,#276195);
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
}

/* @Social @Sharing *********/
body.nightly .socialshare > div > a,
body.nightly .socialshare > div > a:after {
  background-image: url('img/icn-share.png');
}

body.nightly .socialshare > div > a {
  color: #a2e2ff;
}

body.nightly .socialshare > div > a:after {
  background-color: #294863;
}

body.nightly .share-active-state,
body.nightly .socialshare.open > div > a,
body.nightly .socialshare > div > a:hover,
body.nightly .socialshare > div > a:focus {
  color: #a2e2ff;
}

body.nightly .share-active-state span,
body.nightly .socialshare > div > a:hover span,
body.nightly .socialshare > div > a:focus span,
body.nightly .socialshare.open > div > a span {
  border-color: #a2e2ff;
}

body.nightly .socialshare > div > a:focus span {
  outline-color: #a2e2ff;
}

body.nightly .socialshare > div > a span {
  border-bottom-color: #a2e2ff;
}

