@font-face {
  font-family: "Open Sans";
  src: url("https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.eot");
  src: url("https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.woff") format("woff"),
       url("https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html { padding: 0; margin: 0; background: #fff }
body.login { padding: 0 0 0; border: 0; margin: 0; min-width: 320px; font: 14px/1.5 "Open Sans", sans-serif; color: #444; background: transparent; }

#login { margin-top: 0; }

h1 { background: transparent url("../img/mozilla-wordmark-black.svg") 56% top no-repeat; width: 310px; height: 80px; margin: 0 0 .5em; overflow: hidden; }
h1 a { position: absolute; left: -999em; }

.login #backtoblog { position: absolute; top: 0; left: 0; width: 100%; height: 3em; border: 0; margin: 0; padding: 0; background: rgba(0,0,0,.05); }
.login #backtoblog a { position: relative; top: .75em; left: 20px; text-decoration: none; text-shadow: none; }
.login #backtoblog a:hover, .login #backtoblog a:focus, .login #backtoblog a:active { color: #fff !important; text-decoration: underline; }

#loginform { border-color: #eee; box-shadow: 0 2px 3px rgba(0,0,0,.2); }

/* @Links */
.login #backtoblog a, .login #nav a { color: #00a7e0 !important; text-decoration: none; text-shadow: none; }
.login #backtoblog a:hover, .login #backtoblog a:focus, .login #backtoblog a:active,
.login #nav a:hover, .login #nav a:focus, .login #nav a:active { color: #0081ad !important; text-decoration: underline; }


/*** @Buttons *********/
#wp-submit {
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 8px 10px;
  border: 0;
  text-shadow: none;
  font-size: .857em;
  line-height: 1.1;
  font-weight: normal;
  background-color: #4BAF50;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
}
#wp-submit:hover,
#wp-submit:focus,
#wp-submit:active {
  background-color: #039C6D;
}